@import '../../assets/styles/module.scss';

.pagination  {
	display: flex;
	justify-content: center;
	gap: 2rem;

	&__item{
		cursor: pointer;
		display: flex;
		padding: 1rem;
		border-top: 0.3rem solid transparent;
		border-bottom: 0.3rem solid transparent;
		border-radius: 30%;
		font-size: 2rem;
		line-height: 120%;
		color: $text;

		transition: all 0.3s linear;

		&:hover {
			border-top: 0.3rem solid $text;
			border-bottom: 0.3rem solid $text;
		}

		&:active {
			opacity: 0.7;
		}

		&_active {
			border-top: 0.3rem solid $secondaryAccent;
			border-bottom: 0.3rem solid $secondaryAccent;
		}
	}
}