@import '../../assets/styles/module.scss';

.filter {
	display: flex;
	align-items: center;
	gap: 2rem;

	&__title {
		font-size: 2rem;
		line-height: 100%;
		color: $text
	}

	&__labelBar {
		display: flex;
		align-items: center;
		gap: 2rem;
	}

	&__label {
		display: flex;
		align-items: center;
		gap: 1rem;

		font-size: 2rem;
		line-height: 100%;
		color: $text;
		text-transform: capitalize;

		&:has(input:checked) {
			color: $primaryAccent;
		}
	}

	&__input {
		position: relative;
		appearance: none;
		width: 2rem;
		height: 2rem;
		border-radius: 30%;
		border-top: 2px solid $hover;
		border-bottom: 2px solid $hover;
		background-color: $hover;

		transition: all 0.3s linear;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 1.2rem;
			height: 0.8rem;
			background-color: $secondaryAccent;
			border-radius: 50%;
			opacity: 0;

			transition: opacity 0.3s linear;
		}
	}

	input:checked {
		border-top: 2px solid $secondaryAccent;
		border-bottom: 2px solid $secondaryAccent;

		&::before {
			opacity: 1
		}
	}
}