@import '../../assets/styles/module.scss';

.characterTable {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 3rem;
	padding: 3rem 2rem;
	border-radius: 2rem;
	background-color: $text;

	&__error {
		font-size: 2rem;
		line-height: 120%;
		color: $text;
	}
} 