@import './reset.scss';
@import './module.scss';

/* General styles */
html {
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	background-color: $background;
}

::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background: $secondaryAccent;
}